<div class='container'>
  <%= bootstrap_form_for :simulador do |f| %>
    <%= f.text_field :nombre %>
    <%= f.number_field :edad, in: 18..65, step: 1 %>
    <%= f.form_group :sexo, label: { text: "Sexo" } do %>
      <%= f.radio_button :sexo, 'Masculino', label: "Masculino", checked: true %>
      <%= f.radio_button :sexo, 'Femenino', label: "Femenino" %>
    <% end %>
    <%= f.number_field :sueldo, label: "Sueldo" %>
    <%= f.number_field :apo, label: "Ahorro previsional obligatorio acumulado" %>
    <%= f.number_field :apvMensual, label: "Ahorro previsional voluntario mensual" %>
    <%= f.number_field :apvAcumulado, label: "Ahorro previsional voluntario acumulado" %>
    <%= f.number_field :pensionDeseada, label: "Pensión deseada %>
    <%= f.submit "Calcular" %>
  <% end %>
</div>
