<div class='container'>
  <div class='row'>
    <div class='col-md-4 offset-md-4'>
      <center>
        <h1>Retirement Simulator</h1>
      </center>
    </div>
  </div>
  <p></p>
  <div class="row">
    <%= bootstrap_form_for :simulador do |f| %>
      <%= f.text_field :nombre %>
      <%= f.number_field :edad, value: 18, in: 18..65, step: 1 %>
      <%= f.form_group :sexo, label: { text: "Sexo" } do %>
        <%= f.radio_button :sexo, 'Masculino', label: "Masculino", checked: true %>
        <%= f.radio_button :sexo, 'Femenino', label: "Femenino" %>
      <% end %>
      <%= f.number_field :sueldo, value: 0,  label: "Sueldo" %>
      <%= f.number_field :apo, value: 0, label: "Ahorro previsional obligatorio acumulado" %>
      <%= f.number_field :apvMensual, value: 0, label: "Ahorro previsional voluntario mensual" %>
      <%= f.number_field :apvAcumulado, value: 0, label: "Ahorro previsional voluntario acumulado" %>
      <%= f.submit "Calcular" %>
    <% end %>
  </div>
</div>
