<div class='container'>
  <div class='row'>

      <center>
        <h1>Retirement Simulator</h1>
      </center>

  </div>
  <p></p>
  <div class='row'>

      <div class='btn btn-default btn-block'>
        <%= link_to "Calcular monto pensión", apo_path, :class => "btn" %>
      </div>
      <div class='btn btn-default btn-block'>
        <%= link_to "Calcular APV mensual", apv_path, :class => "btn" %>
      </div>

  </div>
</div>
