<div class='container'>
  <div class='row'>
    <center>
      <div class='col-md-12'>
        <h1>Retirement Simulator</h1>
      </div>
    </center>
  </div>
  <p></p>
  <row>
    <center>
      <p>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      </p>
      </br>
      <p>
        Monto total ahorro previsional obligatorio</br>
        <big>$<%= @simulaciones[0].to_i %></big>
      </p>
      <hr>
      <p>
        Monto a recibir mensualmente</br>
        <big>$<%= @simulaciones[1].to_i %></big>
      </p>
      <hr>
      <p> Para realizar una nueva simulación haga <%= link_to 'click aquí', root_path %></p>
    </center>
  </row>
</div>
